{%- from "orientdb/map.jinja" import environment with context %}
[Unit]
Description=OrientDB Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart={{ environment.install_dir }}/bin/orientdb.sh start
ExecStop={{ environment.install_dir }}/bin/orientdb.sh stop
ExecStatus={{ environment.install_dir }}/bin/orientdb.sh status
Restart=always
RestartSec=10