{%- from "orientdb/map.jinja" import environment with context %}
[Unit]
Description=OrientDB Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart={{ environment.install_dir }}/bin/server.sh
User={{ environment.user }}
Group={{ environment.group }}
Restart=always
RestartSec=10